<div class="main-container container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        [(ngModel)]="produto.nome"
        name="nome"
      />
    </div>

    <div class="form-group">
      <label for="codigo">Código</label>
      <input
        type="text"
        class="form-control"
        id="codigo"
        [(ngModel)]="produto.codigoProduto"
        name="codigoProduto"
      />
    </div>

    <div class="form-group">
      <label for="quantidade">Quantidade em estoque</label>
      <input
        type="number"
        class="form-control"
        id="codigo"
        [(ngModel)]="produto.quantidade"
        name="quantidade"
      />
    </div>

    <div class="form-group">
      <label for="categoria">Categoria</label>
      <select
        class="custom-select"
        [(ngModel)]="produto.categoria"
        name="categoria"
      >
        <option [selected] value="">Selecionar categoria</option>
        <option value="SMARTPHONE">SMARTPHONE</option>
        <option value="TABLET">TABLET</option>
        <option value="NOTEBOOK">NOTEBOOK</option>
      </select>
    </div>

    <div class="form-group">
      <label for="fornecedor">Fornecedor</label>
      <select
        class="custom-select"
        [(ngModel)]="produto.fornecedor.id"
        name="id"
      >
        <option [selected] [value]="">Selecionar fornecedor</option>
        <option value="1">Apple</option>
        <option value="2">Samsung</option>
      </select>
    </div>

    <div class="form-group">
      <label for="valor">Valor</label>
      <input
        type="text"
        class="form-control"
        id="valor"
        [(ngModel)]="produto.valor"
        name="valor"
      />
    </div>

    <div class="form-group">
      <div class="custom-control custom-switch">
        <input
          type="checkbox"
          class="custom-control-input"
          id="promocao"
          [(ngModel)]="produto.promocao"
          name="promocao"
        />
        <label class="custom-control-label" for="promocao">Promoção?</label>
      </div>
    </div>

    <div
      class="form-group"
      class="d-none"
      [ngClass]="{ 'd-block': produto.promocao }"
    >
      <label for="valorPromo">Valor Promocional</label>
      <input
        type="text"
        class="form-control"
        id="valorPromo"
        [(ngModel)]="produto.valorPromo"
        name="valorPromo"
      />
    </div>

    <div class="form-group">
      <div class="custom-file">
        <input
          #imageInput
          type="file"
          class="custom-file-input"
          id="customFile"
          accept="image/*"
          (change)="processFile(imageInput)"
        />
        <label class="custom-file-label" for="customFile" data-browse="Procurar"
          >Escolher arquivo</label
        >
      </div>
    </div>
    <button class="btn btn-success my-3" type="submit">Salvar</button>
  </form>
</div>
