/* You can add global styles to this file, and also import other style files */
.custom-hover:hover {
  opacity: 0.8;
}

.main-container {
  margin-top: 7%;
  margin-bottom: 5%;
}

.fotos .card:hover {
  transform: scale(1.1);
}
